body {
  margin: 60px;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
  display: block;
}

label {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.col-data {
  width: 150px;
  text-align: center;
}

.col-valor {
  width: 120px;
  text-align: right;
}

.col-botao {
  width: 110px;
}
